:root {
  --body-width: max-content;
  --color-disabled: #999999;
  --color-background: #171717;
  --color-white: #e6e6e6;
  --color-whiter: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: var(--body-width);
  height: clamp(1rem, 100%, 600px);
  color: var(--color-white);
  background-color: var(--color-background);
  font-family: var(--font-family-primary);
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #111111;
    margin-right: 5px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #84c8f2;
    border-radius: 10px;
    border: 1px solid transparent;
  }
  ::selection {
    background-color: var(--color-disabled);
    color: var(--color-whiter);
  }
}

main {
  // padding: 10px 10px 0 10px; // TODO add this back in when there is more content than a single button
}
